*{
	*{
	margin: 0px;
	padding: 0px;
}
body {
	 
	/*color:#ffffff;color de letra de todo el cuerpo*/
	margin-left:25px;
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
    background-position:inherit;
}
div {
	width: 50%;
}
p {
	color: #fff;
	font-style: arial;
	font-size: 20px;
	text-align: justify-all;
	.contenedor {
	width: 90%;
	max-width:1000px;
	margin:auto;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
	font-family:Verdana;
}

.contenedor p {
	margin-bottom:40px;
}

header nav {
	background:#38848A;
	margin-bottom:10px;
}

header nav ul {
	list-style: none;
	overflow: hidden;
	border-radius: 14px 14px 14px 14px;
}

header nav ul li {
	float: left;
	list-style: none;
	border-radius: 14px 14px 14px 14px;
}

header nav ul li a {
	display: block;
	padding:20px;
	color:#fff;
	text-decoration: none;
	list-style: none;
	position: relative;
	border-radius: 14px 14px 14px 14px;
}
nav > ul > li > ul {
	display: block;
	position: absolute;
	list-style: none;
	float: left;


}

header nav ul li a:hover {
	/*background:#2980b9;*/
	background: -webkit-linear-gradient(top,#43B5A7 60%,#B5E9F6 100%);
}


/* --- Clase que agregaremos cuando el usuario haga scroll --- */
.menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
	max-width:1000px;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}