<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./favicon.ico">
    <link rel="manifest" href="./manifest.json">
    <title>Template of App</title>
</head>
<body>
    <div class="wrapper">
        <div class="main">
          <h2>This is about us =)</h2>
        </div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, quae ipsam? Pariatur quod vitae, voluptate eligendi laboriosam rem deserunt nulla dolor culpa, error est enim quia esse itaque ab eum!</p>
        </div>
        <a class="link-basic js-link" href="../index.html">go Home =)</a>
    </div>
</body>
</html>
