*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
}
.contenedor{
	width: 95%;
	max-width: 1000px;
	margin: auto;
}

header nav{
	background: #3498db;
	margin-bottom: 20px;
}
header nav ul{
	list-style: none;
	overflow: hidden;
}
header nav ul li{
	float: left;
}
header nav ul li a{
	display: block;
	padding: 30px;
	color: #fff;
	text-decoration: none;
}
header nav ul li a:hover{
	background: #c0c0c0;
}
.menu-fixed{
	position: fixed;
	z-index: 1000;
	top: 0;
}

/*header {
    margin-top:10px; /*Simplemente agregamos un margen*/
    width: 90%;
    height: 150px; /*Le damos un alto fijo al menu*/
    overflow: hidden; /*Agregamos un overflow hidden para que no se muestren elementos que sobrepasen los 150px de alto*/
    position: relative; /*Convertimos el menu en posición relativa porque mas adelante en el header > nav pondremos una posición absoluta*/
}/*
nav > ul {
	display:table;
	/*Quitamos el overflow:hidden; que teníamos aquí*/
/**	width:100%;
	background:#000;
	position: relative;
}
nav ul li{

}*/